-import galaxy.action._

.form-group
	label Email:
	input(type="text" name="email" value={""} class="form-control")
.form-group
	label Password:
	input(type="text" name="password" value={""} class="form-control")
p
	button(type="submit" value="Sign in" class="btn btn-primary") Submit


