- import galaxy.action._

|<center>
<img src="images/webimages/main.gif" style="height:300;width:966"/>
|</center>
|<hr>
|<div class = "row-fluid" id="abouteva">
|    <div class ="span12">
|    <center>
|      <h4>은하수 돌상에 오신것을 환영합니다.</h4>
|      <h4>예약문의 : 010-2992-8086</h4>
|      </center>
|    </div>
|</div>
|<hr>
|<center>
<img src="images/webimages/main_event.jpg" style="height:1670;width:900"/>
|</center>

